body
{
	background-image: url('images/White.jpg');
	padding: 30px;
    background-repeat: no-repeat;
    background-size: auto;
}
.container
{
	width: 900px; 
	height: all;
	margin: 100px auto;
	background: #d9ffb3;
	position: relative;
}